__pycache__/
*.py[cod]
*.pyo

.DS_Store
.idea/
.vscode/

.env
.venv/
venv/
env/

build/
dist/
*.egg-info/

wandb/
runs/
output/
outputs/
logs/
log/
cache/

src/r1-v/log/
src/r1-v/Video-R1-data/
src/r1-v/Evaluation/*/videos/
src/r1-v/Evaluation/*/video/

*.pt
*.pth
*.ckpt
*.bin
*.safetensors
*.safetensors.index.json
